@{
    ViewData["Index"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <style></style>
</head>
<body>
    <h4 class="text-center">Chef Challenge</h4>
    <p>Welcome to the Chef Challenge & Recipe site! Choose a category, and check our latest additions to the challenges each week. Our users
        submit a recipe each week, and have required ingredients to include each one. We update these each week as well. Enjoy!
    </p>
</body>
</html>